<%= form_for(current_user.relationships.build(followed_id:@user.id), url: relationships_path(:format => :js), html: { id: "post-form"}) do |f| %>
   <div><%= f.hidden_field :followed_id %></div>
   <%= f.submit "Follow", class: "btn btn-large btn-primary" %>
<% end %>